.container {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    /* background-color: #A1A6AA; */
    background-color: #034C82;
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: #FFF;
    height: 50px;
    padding: 1em;
} 

@media only screen and (min-width: 2000px) and (max-width: 2560px) {
    .logo {
        width: 300px;
    }
}

@media only screen and (max-width: 800px) {
    .container {
        position: fixed;
        justify-content: space-between;
        z-index: 200;
    }
}