.link {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .link{
        font-size: 13px;
    }    
}

@media only screen and (max-width: 480px) {
    .link{
        font-size: 20px;
    }    
}
