.link {
    color: white;
    text-decoration: none;
}

@media only screen and (max-width: 480px) {
    .link{
        font-size: 17px;
    }    
}

@media only screen and (max-width: 380px) {
    .link{
        font-size: 16px;
    }    
}
