.container {
    position: relative;
    display: block;
    width: 200px;
}


.image {
    width: 100%;
    border-radius: 15px;
    filter: blur(2px);
    z-index: 0;
}

.image::after {
    background: linear-gradient(143.53deg, rgba(255, 255, 255, 0.28) 0%, rgba(255, 255, 255, 0) 108.28%);
}

.image:hover {
    filter: none;
}

.text {
    width: 80%;
    padding: 15px 8px;
    position: absolute;
    top: 20px;
    left: 0;
    text-decoration: none;
    border-right: 3px solid; 
    border-color: #034C82;
    word-break: break-all;
    font-size: 14px;
    color: white;
    background: rgba(82, 82, 82, 0.8);
    z-index: 2;
}

@media only screen and (min-width: 2000px) and (max-width: 2560px) {
    .container {
        width: 80%;
    }

    .image {
        filter: none;
    }

    .text {
        font-size: 30px;
    }
}

@media only screen and (max-width: 900px) {
    .container {
        width: 80%;
    }

    .image {
        filter: none;
    }

    .text {
        font-size: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .container {
        width: 80%;
    }

    .image {
        filter: none;
    }

    .text {
        font-size: 12px;
    }
}

@media only screen and (max-width: 768px) {
    .text {
        font-size: 10px;
    }
}